/**
 * Views Module Style Sheet for Phire CMS 2
 */

#view-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    border-top: solid 1px #ccc;
}

#view-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 400px;
    height: 100%;
}

#view-form > dl:first-child > dd, #view-form > dl:first-child > dt {
    width: 100%;
}

#view-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#view-form-field-group-2 {
    width: calc(100% - 220px);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

#view-form-field-group-2 > dt, #view-form-field-group-2 > dd {
    width: 98%;
    padding: 4px
}

#view-form-field-group-3 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    clear: left;
    border-bottom: solid 1px #ccc;
    width: calc(100% - 220px);
}

#view-form-field-group-4 {
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    border-right: solid 1px #ccc;
    float: left;
}

#view-form-field-group-3 > dd {
    padding: 4px
}

#view-form-field-group-3 > dd > select {
    margin: 0 0 6px 0;
    padding: 2px 28px 3px 4px;
    height: 25px;
    display: block;
    min-width: 200px;
}

#view-form-field-group-3 > dd > input[type=text] {
    margin: 0 0 6px 0;
    padding: 3px 4px 3px 4px;
    height: 17px;
    display: block;
    font-size: 0.825em;
    min-width: 200px;
}

.views-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0ce";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.views-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.views-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f0ce";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}
